<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vico.clever.cdr.service.dao.EMRDocumentDao">

<resultMap type="com.vico.clever.cdr.service.model.EMRDocument" id="EMRDocumentMap">
<!-- <id column="Guid" property="guid" jdbcType="VARCHAR" /> -->
<result column="DocumentId"	property="documentID" jdbcType="VARCHAR" />
<result column = "PatientIdentifier_Id" property="patientID" jdbcType="VARCHAR"/>	
<result column = "EncounterIdentifier" property="visitID" jdbcType="VARCHAR"/>	
<result column = "ParentTypeId" property="parentTypeID" jdbcType="VARCHAR"/>	
<result column = "DocumentContent_Uri" property="documentContentUri" jdbcType="VARCHAR"/>	
<result column = "ContentText" property = "contentText" jdbcType="VARCHAR"/>
<result column = "ContentXml_Uri" property="contentXmlUri" jdbcType="VARCHAR"/>	
</resultMap>

<resultMap type="com.vico.clever.cdr.service.model.EMRDocumentDetails" id = "EMRDocumentDetailMap">
<!-- <id column="Guid" property="guid" jdbcType="VARCHAR" /> -->
<result column="Obsr_EmrDocument$DocumentId"	property="documentID" jdbcType="VARCHAR" />
<result column = "EmrTypeId" property="emrTypeID" jdbcType="VARCHAR" />
<result column = "ParentTypeId" property="parentTypeID" jdbcType="VARCHAR" />
<result column = "TemplateId" property="templateID" jdbcType="VARCHAR" />
<result column = "TitleName" property="titleName" jdbcType="VARCHAR" />
<result column = "ShowTime" property="showTime" jdbcType="TIMESTAMP" />
<result column = "AdditionInformation" property="additionInformation" jdbcType="VARCHAR" />
<result column = "SectionStartFlag" property="sectionStartFlag" jdbcType="VARCHAR" />
<result column = "SectionEndFlag" property="sectionEndFlag" jdbcType="VARCHAR" />
<result column = "LastOperateTime" property="lastOperateTime" jdbcType="TIMESTAMP" />
<result column = "LineAlign" property="lineAlign" jdbcType="VARCHAR" />
<result column = "PrintNumber" property="printNO" jdbcType="INTEGER" />
<result column = "ContentText" property="contentText" jdbcType="VARCHAR" />
</resultMap>

<resultMap type="com.vico.clever.cdr.service.model.EMRDocumentAction" id = "EMRDocumentActionMap">
<!-- <id column="Guid" property="guid" jdbcType="VARCHAR" /> -->
<result column="PatientIdentifier_Id"	property="patientID" jdbcType="VARCHAR" />
<result column="EncounterIdentifier"	property="visitID" jdbcType="VARCHAR" />
<result column="DocumentId"	property="documentID" jdbcType="VARCHAR" />
<result column="TitleName"	property="titleName" jdbcType="VARCHAR" />
<result column="IsmTransition_CurrentState_Code"	property="curStateCode" jdbcType="VARCHAR" />
<result column="IsmTransition_CurrentState_Name"	property="curStateName" jdbcType="VARCHAR" />
<result column="IsmTransition_CareflowStep_Code"	property="careflowStepCode" jdbcType="VARCHAR" />
<result column="IsmTransition_CareflowStep_Name"	property="careflowStepName" jdbcType="VARCHAR" />
<result column="Comment"	property="comment" jdbcType="VARCHAR" />
<result column="EditDateTime"	property="actionDatetime" jdbcType="TIMESTAMP" />
<result column="Performer_Code"	property="performerCode" jdbcType="VARCHAR" />
<result column="Performer_Name"	property="performerName" jdbcType="VARCHAR" />
<result column="Department_Code"	property="performDeptCode" jdbcType="VARCHAR" />
<result column="Department_Name"	property="performDeptName" jdbcType="VARCHAR" />

</resultMap>
<sql id ="EMRDocumentList">
       [Guid]
      ,[ContentText]
      ,[ContentXml_Uri]
      ,[DocumentContent_Uri]
      ,[DocumentId]
      ,[EncounterIdentifier]
      ,[ParentTypeId]
      ,[PatientIdentifier_Id]
</sql>

<sql id = "EMRDocumentDetailList">
[Guid]
      ,[Obsr_EmrDocument$DocumentId]
      ,[AdditionInformation]
      ,[ContentText]
      ,[EmrTypeId]
      ,[LastOperateTime]
      ,[LineAlign]
      ,[PrintNumber]
      ,[SectionEndFlag]
      ,[SectionStartFlag]
      ,[ShowTime]
      ,[TemplateId]
      ,[TitleName]
      ,[ParentTypeId]
</sql>
<sql id = "EMRDocumentActionList">
[Guid]
      ,[Comment]
      ,[Department_Code]
      ,[Department_Name]
      ,[DocumentId]
      ,[EditDateTime]
      ,[EncounterIdentifier]
      ,[IsmTransition_CareflowStep_Code]
      ,[IsmTransition_CareflowStep_Name]
      ,[IsmTransition_CurrentState_Code]
      ,[IsmTransition_CurrentState_Name]
      ,[PatientIdentifier_Id]
      ,[Performer_Code]
      ,[Performer_Name]
      ,[TitleName]
</sql>

<!--   EMRDocument -->
<select id= "selectEMRDocument" parameterType="java.lang.String" resultMap="EMRDocumentMap">
select * from Obsr_EmrDocument where DocumentId = #{documentID}
</select>

<insert id = "insertEMRDocument" parameterType = "com.vico.clever.cdr.service.model.EMRDocument">
insert into Obsr_EmrDocument( <include refid="EMRDocumentList" />) 
values(newid(),
#{contentText,jdbcType=VARCHAR},
#{contentXmlUri,jdbcType=VARCHAR},
#{documentContentUri,jdbcType=VARCHAR},
#{documentID,jdbcType=VARCHAR},
#{visitID,jdbcType=VARCHAR},
#{parentTypeID,jdbcType=VARCHAR},
#{patientID,jdbcType=VARCHAR}

)
</insert>

<update id = "updateEMRDocument" parameterType = "com.vico.clever.cdr.service.model.EMRDocument">
update Obsr_EmrDocument set 
    ContentText=#{contentText,jdbcType=VARCHAR},
    ContentXml_Uri=#{contentXmlUri,jdbcType=VARCHAR},
    DocumentContent_Uri=#{documentContentUri,jdbcType=VARCHAR},
    DocumentId=#{documentID,jdbcType=VARCHAR},
    EncounterIdentifier=#{visitID,jdbcType=VARCHAR},
    ParentTypeId=#{parentTypeID,jdbcType=VARCHAR},
    PatientIdentifier_Id= #{patientID,jdbcType=VARCHAR}
    where DocumentId=#{documentID,jdbcType=VARCHAR}
</update>

<delete id = "deleteEMRDocument" parameterType="java.lang.String"  >
delete from Obsr_EmrDocument where DocumentId=#{documentID,jdbcType=VARCHAR}
</delete>

<!-- EMRDocumentDetail -->

<select id= "selectEMRDocumentDetial" parameterType="java.lang.String" resultMap="EMRDocumentDetailMap">
select * from Obsr_EmrDocument_Details where Obsr_EmrDocument$DocumentId = #{documentID}
</select>

<delete id = "deleteEMRDocumentDetails"  parameterType="java.lang.String">
delete from Obsr_EmrDocument_Details where Obsr_EmrDocument$DocumentId = #{documentID}
</delete>
<insert  id = "insertEMRDocumentDetails" parameterType = "com.vico.clever.cdr.service.model.EMRDocumentDetails">
 insert into Obsr_EmrDocument_Details(<include refid="EMRDocumentDetailList" />) values
 <foreach collection="list" item="item" index="index" separator="," >
 (newid(),#{item.documentID,jdbcType=VARCHAR},
 #{item.additionInformation,jdbcType=VARCHAR},
 #{item.contentText,jdbcType=VARCHAR},
 #{item.emrTypeID,jdbcType=VARCHAR},
 #{item.lastOperateTime,jdbcType=TIMESTAMP},
 #{item.lineAlign,jdbcType=VARCHAR},
 #{item.printNO,jdbcType=INTEGER},
 #{item.sectionEndFlag,jdbcType=VARCHAR},
 #{item.sectionStartFlag,jdbcType=VARCHAR},
 #{item.showTime,jdbcType=TIMESTAMP},
 #{item.templateID,jdbcType=VARCHAR},
 #{item.titleName,jdbcType=VARCHAR},
 #{item.parentTypeID,jdbcType=VARCHAR}
 )
 </foreach> 
</insert>

<update id ="updateEMRDocumentDetails" parameterType = "com.vico.clever.cdr.service.model.EMRDocumentDetails">
update Obsr_EmrDocument_Details 
set 
Obsr_EmrDocument$DocumentId = #{documentID,jdbcType=VARCHAR},
AdditionInformation =  #{additionInformation,jdbcType=VARCHAR},
ContentText = #{contentText,jdbcType=VARCHAR},
EmrTypeId =  #{emrTypeID,jdbcType=VARCHAR},
LastOperateTime = #{lastOperateTime,jdbcType=TIMESTAMP},
LineAlign = #{lineAlign,jdbcType=VARCHAR},
PrintNumber = #{printNO,jdbcType=INTEGER},
SectionEndFlag = #{sectionEndFlag,jdbcType=VARCHAR},
SectionStartFlag = #{sectionStartFlag,jdbcType=VARCHAR},
ShowTime = #{showTime,jdbcType=TIMESTAMP},
TemplateId = #{templateID,jdbcType=VARCHAR},
TitleName = #{titleName,jdbcType=VARCHAR},
ParentTypeId =  #{parentTypeID,jdbcType=VARCHAR}
where Obsr_EmrDocument$DocumentId = #{documentID}
</update>

<!-- EMRDocumentAction -->
<select id = "selectEMRDocumentAction" parameterType="java.lang.String" resultMap="EMRDocumentActionMap">
select * from Action_EmrDocument where DocumentId = #{documentID}
</select>

<insert  id = "insertEMRDocumentAction" parameterType = "com.vico.clever.cdr.service.model.EMRDocumentAction">
insert into Action_EmrDocument (<include refid="EMRDocumentActionList" />) values(newid(),
#{comment,jdbcType=VARCHAR},
#{performDeptCode,jdbcType=VARCHAR},
#{performDeptName,jdbcType=VARCHAR},
#{documentID,jdbcType=VARCHAR},
#{actionDatetime,jdbcType=TIMESTAMP},
#{visitID,jdbcType=VARCHAR},
#{careflowStepCode,jdbcType=VARCHAR},
#{careflowStepName,jdbcType=VARCHAR},
#{curStateCode,jdbcType=VARCHAR},
#{curStateName,jdbcType=VARCHAR},
#{patientID,jdbcType=VARCHAR},
#{performerCode,jdbcType=VARCHAR},
#{performerName,jdbcType=VARCHAR},
#{titleName,jdbcType=VARCHAR}
)
</insert>

<delete id = "deleteEMRDocumentAction" parameterType="java.lang.String">
delete from Action_EmrDocument where DocumentId = #{documentID}
</delete>
</mapper>